<div class="container" id="home_container">
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to the HOME page!</h1>
  <p class="lead">This is an application for learning Rails framework.</p>
  <hr class="my-4">
  <p>bottom_text</p>
  <p class="lead">
    <a class="btn btn-success my-2 my-sm-0" href="articles" role="button">Go to Articles Page</a>
  </p>
</div>
</div>


<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">&copy; 2022 AleksanderS</span>
    </div>
  </footer>
</div>