<div id='page-content'>
<div class="container" id="home_container">
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to the HOME page!</h1>
  <p class="lead">This is an application for learning Rails framework.</p>
  <hr class="my-4">
  <p>bottom_text</p>
  <p class="lead">
    <%= link_to "Sign up!", signup_path, class: "btn btn-success my-2 my-sm-0" %>
  </p>
</div>
</div>
</div>